*{
    margin: 1%;
    padding: 0;
    box-sizing: border-box;
}
.top{
    width: 100%;
    background-color: orangered;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bio{
    margin-right: 30%;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    float: right;
}
.bio ul{
    list-style: none;
    display: flex;
    margin-top: 2%;
    margin-left: 4%;
}
.bio li{
    margin-right: 1%;
}
.bio li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
h1{
    color: white;
    font-size: 70px;
}

.bottom h2{
    color: orangered;
    font-size: 50px;
}
.bottom h3{
    color: black;
    font-size: 30px;
    margin-top: 0px;
}
.bottom ul{
    list-style: none;
}
.bottom li{
    margin-top: 0.5%;
}
.bottom p,b{
    color: black;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.projects,.education,.skills{
    margin-bottom: 1%;
}